---
import Navbar from "../components/Navbar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
 
interface Props {
	title: string;
	image?: string;
}

const { title = "Interesting facts and history", image = "/images/history.svg" } 
= Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={SITE_DESCRIPTION} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={image} />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
		<title>{SITE_TITLE}</title>
	</head>
	<body class="min-h-screen">
		<Navbar />
		<slot />
	</body>
</html>
